/* reset */
$base-bg: #fff;
$base-font-size: 18px;
$base-line-height: 22px;
$base-font-family: "Museo Sans Cyrl",
sans-serif;

/* main variables */

//text, titles
$text-color: #000;
$text-color-white: #fff;
$text-color-dark: #2E2E2E;
$color-top-menu: #ebebeb;
$title-color: #000;
$title-color-wite: #fff;
$color-placeholder: #797979;
$text-gray: #6B6B6B;

$font-size-h1: 60px;
$line-height-h1: 72px;
$font-size-h2: 36px;
$line-height-h2: 43px;
$font-size-h3: 24px;
$line-height-h3: 29px;

// color
$bg-dark: #25282a;
$bg-color-input: #4b4b4b;
$bg-color-input-light: #F1F1F1;
$bg-spinner: #f7f7f7;
$bg-article: #F5F5F5;

$gray: #979797;
$red: #ff1b1b;
$black: #000;
$white: #fff;
$dark: #25282a;
$light-gray: #B1B1B1;
$dark-gray: #454545;
$yellow: #FF9300;
$red-active: #FA4616;
$slider-color-arrow: #898989;
$tab-color: #777777;
$black-opacity: rgba(0, 0, 0, 0.4);
$error-color:#FA4616;

$border-gray: #d8d8d8;
$border-checkbox: #B1B1B1;


$btn-red: #fa4616;
$btn-red-hover: #DA2E00;

$shadow-red: rgba(250, 70, 22, 0.3);
$shadow-red-hover: rgba(216, 48, 3, 0.4);
$shadow-dark: rgba(0, 0, 0, 0.3);
$shadow-light-text: #d3d3d3;
$shadow-dark-text: #707070;


$border-table: #DADADA;
$table-color-lick: #444444;
$table-row-border: #A9A9A9;