.assortement {
	background-color: $bg-dark;
	padding: 87px 0 124px;
	position: relative;
	z-index: 0;

	.title-text-border {
		color: $dark;
		text-shadow: -1px -1px 0 $shadow-dark-text, 1px -1px 0 $shadow-dark-text, -1px 1px 0 $shadow-dark-text,
			1px 1px 0 $shadow-dark-text;
	}

	&__card {
		position: relative;
		display: flex;
		height: 260px;
		width: 100%;
		color: $text-color-white;
		margin-bottom: 30px;

		> img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&:hover {
			color: $text-color-white;
			box-shadow: 0px 20px 50px $black-opacity;

			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-color: $black-opacity;
			}

			.assortement__hover {
				opacity: 1;
			}
		}
	}

	&__desc {
		position: absolute;
		top: 38px;
		left: 39px;
		right: 39px;

		> h4 {
			font-size: $font-size-h3;
			line-height: $line-height-h3;
		}

		> p {
			margin-top: 16px;
			width: 60%;
		}
	}

	&__hover {
		opacity: 0;
		position: absolute;
		left: 39px;
		bottom: 36px;
		font-weight: 100;
		font-size: 14px;
		line-height: 17px;
		@include transition(opacity 0.4s);

		img {
			margin-left: 10px;
		}
	}
}

.assortment-page {
	padding-top: 20px;

	.download-catalog {
		padding: 120px 0 218px;
	}
}

.assortment-heading {
	padding-top: 60px;

	&__title {
		font-size: $font-size-h2;
		line-height: $line-height-h2;
		margin-bottom: 40px;
		font-weight: 900;
	}

	.assortement__card {
		height: 357px;
		background-color: $bg-dark;

		> img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		> h4 {
			position: absolute;
			bottom: 22px;
			left: 35px;
			right: 35px;
			font-weight: 900;
			font-size: $font-size-h3;
			line-height: $line-height-h3;
			min-height: 60px;
			@include transition(0.4s);
		}

		&:hover {
			> h4 {
				bottom: 60px;
			}
		}
	}

	&__desc {
		padding: 59px 100px 94px;
		h3 {
			font-size: $font-size-h3;
			line-height: $line-height-h3;
			font-weight: 500;
			margin-bottom: 20px;
		}
		> img {
			width: 100%;
			margin: 35px 0;
		}
		> p {
			margin-bottom: 20px;
		}
	}

	&__page {
		.download-catalog {
			padding: 150px 0 250px;
		}

		.ready-order {
			padding: 0 0 136px;
		}

		.calendar-section {
			padding: 71px 0 125px;
		}
	}
}

@media only screen and (max-width: 1199.8px) {
	.assortement {
		padding: 37px 0 59px;

		&__card {
			height: 200px;
		}

		&__desc {
			position: absolute;
			top: 24px;
			left: 30px;
			right: 30px;

			> h4 {
				font-size: $base-font-size;
				line-height: $base-line-height;
			}

			> p {
				margin-top: 10px;
				width: 80%;
			}
		}

		&__hover {
			left: 30px;
			bottom: 28px;
		}
	}
	.assortment-heading{
		.assortement__card {
			height: 285px;
			> h4{
				font-size: $base-font-size	;
				line-height: $base-line-height;
			}
		}
	}
}

@media only screen and (max-width: 991.8px) {
	.assortement {
		.title-text-border {
			font-size: 96px;
			line-height: 115px;
			margin-bottom: -26px;
		}

		&__card {
			height: 150px;
		}

		&__desc {
			position: absolute;
			top: 13px;
			left: 13px;
			right: 13px;

			&_big {
				top: 24px;
				left: 30px;
				right: 30px;
			}
		}

		&__hover {
			left: 13px;
			bottom: 15px;
		}
	}

	.assortment-page {
		.download-catalog {
			padding: 30px 0 102px;
		}
	}
	.assortment-heading{
		padding-top: 50px;
		&__title{
			font-size: $font-size-h3;
			line-height: $line-height-h3;
		}
		.assortement__card {
			height: 210px;
		
			.assortement__hover{
				left:32px;
				font-size: 12px;
				line-height: 14px;
				> img{
					margin-left: 7px;
					width: 13px;
				}
			}
		}
		&__desc {
			padding: 59px 28px 35px;
			h3{
				font-size: $base-font-size	;
				line-height: $base-line-height;
			}
		}
	}
	.assortment-heading__page{
	 	.download-catalog{
			padding: 90px 0 100px;
		 }
		.ready-order{
			padding: 0 0 85px;
		}
	
		.assortement__card:hover > h4 {
			bottom: 40px;
		}
	}
}

@media only screen and (max-width: 767.8px) {
	.assortement {
		padding: 28px 0 0;

		.title-text-border {
			font-size: 56px;
			line-height: 65px;
			margin-bottom: 20px;
		}

		&__card {
			height: 150px;

			&_big {
				height: 180px;
			}
		}

		&__desc {
			position: absolute;
			top: 16px;
			left: 20px;
			right: 20px;

			> p {
				width: 100%;
			}

			> h4 {
				max-width: 110px;
			}
		}

		&__hover {
			left: 16px;
			bottom: 20px;
		}
	}
}

@media only screen and (max-width: 575.8px) {
	.assortement {
		.title-text-border {
			font-size: 36px;
			line-height: 43px;
		}

		&__card {
			height: 110px;

			&_big {
				height: 155px;
			}
		}

		&__hover {
			display: none;
		}
	}

	.assortment-page {
		.title-text-border {
			font-size: $font-size-h2;
			line-height: $line-height-h2;
			margin-bottom: -9px;
		}

		.download-catalog {
			padding: 20px 0 117px;
		}
	}
	.assortment-heading__page{
		.bread-crumbs{
			padding-bottom: 15px;
		}
		.assortment-heading{
			padding-top: 20px;
			.assortement__card{
				height: 110px;
				margin-bottom: 20px;
			}
			&__title{
				font-size: $base-font-size;
				line-height: $base-line-height;
			}
			.top-baner p{
				font-size: 12px;
				line-height: 14px;	
			}
			&__desc {
				padding: 37px 16px 35px;
				h3{
					font-size: 14px;
				}
				> img{
					height: 160px;
				}
			}
		}
		.title-section, .title-white{
			font-size: $base-font-size;
			line-height: $base-line-height;
		}
		.download-catalog__img{
			max-width: calc(100% + 35px);
			left: -15px;
		}
		.calendar-section {
			padding: 71px 0 76px;
		}
		.ready-order {
			padding: 0 0 25px;
		}
		.assortement__card:hover > h4{
			bottom: 22px;
		}
	}
}
