/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
.header {
    background-color: $bg-dark;
    color: $text-color-white;
    padding: 25px 0 18px;

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $text-color-white;
        font-size: 14px;
        line-height: 17px;
        font-weight: 100;
    }

    &__logo {
        display: flex;

        >a {
            display: flex;
            width: 95px;
            margin-right: 15px;
        }

        >span {
            display: block;
            width: 200px;
        }
    }

    .language {
        >a {
            color: $gray;

            &:first-child {
                &::after {
                    content: '/';
                    display: inline-block;
                    font-size: $base-font-size;
                    line-height: $base-line-height;
                    color: $text-color-white;
                    padding-left: 6px;
                }
            }

            &.active {
                color: $text-color-white;
                font-size: $base-font-size;
                line-height: $base-line-height;
            }
        }
    }

    &__address {
        color: $gray;
        margin: 0;
    }
}

.phone {
    position: relative;
    padding: 7px 12px 0 15px;
    color: $text-color-white;

    &.open {
        background-color: $base-bg;
        color: $text-color;

        svg {
            fill: $black;
        }
    }

    svg {
        fill: $white;
    }

    &__list {
        display: none;
        width: 100%;
        padding: 7px 12px 15px 15px;
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        background-color: $base-bg;
        z-index: 2;

        &.show {
            display: block;
        }

        >li {
            padding-left: 32px;
            margin-bottom: 6px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__number {
        display: inline-flex;
        align-items: center;
        font-weight: 900;
        font-size: $font-size-h3;
        line-height: $line-height-h3;

        >svg {
            margin-right: 10px;
            width: 22px;
        }

        >a {
            &:hover {
                color: $yellow;
            }
        }
    }

    .arrow-down {
        position: relative;
        top: -10px;
        margin-left: 9px;
        width: 10px;
        cursor: pointer;
    }
}

.menu {
    margin-top: 26px;

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 16px;
        line-height: 19px;

        >li {
            a {
                display: inline-block;
                position: relative;
                color: $color-top-menu;

                &:hover {
                    color: $yellow;
                }

                &.active {
                    color: $red-active;
                }
            }

            .counter {
                position: absolute;
                top: 0;
                right: 0;
                font-weight: 300;
                font-size: 10px;
                line-height: 12px;
                padding: 1px 4px 1.5px;
                background-color: $red;
                @include radius(6.5px);
                @include transform(translate(50%, -40%))
            }
        }
    }
}

@media screen and (max-width: 1199.8px) {
    .header {
        padding: 25px 0;

        &__top {
            padding-left: 61px;
            position: relative;
            font-size: 12px;
            line-height: 14px;
            flex-wrap: wrap;

            .btn-border {
                width: 90px;
                height: 22px;
                font-size: 12px;
                line-height: 14px;
            }

            .social-networks {
                margin-top: 25px;
                justify-content: flex-end;
                width: calc(100% - 260px);

                >li {

                    >a {
                        width: 20px;
                    }
                }
            }
        }

        &__logo {

            >a {
                width: 90px;
                margin-right: 12px;
            }

            >span {
                width: 180px;
            }
        }

        .language {
            >a {

                &:first-child {
                    &::after {
                        font-size: 14px;
                        line-height: 17px;
                    }
                }

                &.active {
                    font-size: 14px;
                    line-height: 17px;
                }
            }
        }
    }

    .phone {
        margin: 25px 0 0 auto;

        &__number {
            font-size: $base-font-size;
            line-height: $base-line-height;

            >img {
                margin-right: 8px;
                width: 14px;
            }
        }

        .arrow-down {
            top: -10px;
            margin-left: 8px;
        }
    }

    .menu {
        background: #2E2E2F;
        box-shadow: 0px 10px 100px rgba(0, 0, 0, 0.25);
        width: 210px;
        padding: 19px 22px 23px 30px;
        position: absolute;
        top: 76px;
        display: none;
        z-index: 100;
        margin: 0;
        // @include transition(transform 0.4s);
        // @include transform(translateX(-200%));

        // &.open {
        //     @include transform(translateX(0));
        // }

        &__btn {
            position: absolute;
            top: 30px;
            height: 17px;
            width: 23px;
            background: transparent;
            cursor: pointer;
            z-index: 100;

            >span {
                display: block;
                position: absolute;
                top: 50%;
                margin-top: -2px;
                left: 0;
                width: 100%;
                height: 3px;
                background-color: $white;

                &::after,
                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 50%;
                    margin-top: -2px;
                    left: 0;
                    width: 100%;
                    height: 3px;
                    background-color: $white;
                    @include transition(transform 0.4s);
                }

                &::after {
                    @include transform(translateY(-7px));
                }

                &::before {
                    @include transform(translateY(7px));
                }
            }

            &.active {
                >span {
                    height: 0;

                    &::after {
                        @include transform(rotate(-42deg));
                    }

                    &::before {
                        @include transform(rotate(42deg));
                    }
                }
            }
        }

        &__list {
            display: block;
            font-size: 14px;
            line-height: 17px;

            >li {
                margin-bottom: 16px;

                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 767.8px) {
    .header {
        &__top {
            .btn-border {
                display: none;
            }
        }

        &__address {
            display: none;
        }
    }
}

@media screen and (max-width: 430px) {
    .header {
        padding: 12px 0;

        &__top {
            padding-left: 50px;
            font-size: 10px;
            line-height: 12px;

            .social-networks {
                margin-top: 0;
                width: auto;
                position: absolute;
                bottom: 5px;
                left: 0;

                >li {

                    >a {
                        width: 18px;
                    }
                }
            }
        }

        &__logo {

            >a {
                width: 60px;
                margin-right: 12px;
            }

            >span {
                width: 150px;
            }
        }

        .language {
            display: none;
        }
    }

    .phone {
        margin: 12px 0 0 auto;
        padding: 7px 10px 0 10px;

        &__list {
            padding: 7px 10px 15px;
        }
    }

    .menu {
        &__btn {
            top: 16px;
        }
    }
}

@media screen and (min-width: 1350px) {
    header {
        .container {
            max-width: 1320px;
        }
    }
}