.promotions_cards {
    .cards-dark:not(:first-child){
        margin-top: 50px;
    }
}

.checkbox_section {
    display: flex;
    align-items: center;

    p {
        margin: 0;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #B1B1B1;
    }
}

.letter_form {
    padding: 92px 95px 49px 0;
    width: 540px;

    .btn-red {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 30px;
    }
}

.img_letter_wraper {
    position: absolute;
    left: -232px;
    bottom: -354px;

}

.letter_form_block {
    margin-top: 175px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    background-color: #ffffff;
    box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.08);
    margin-bottom: 137px;
}

.letter_form_wrap:before {
    content: '';
    background-image: url('../image/arrow.svg');
    width: 170px;
    height: 70px;
    position: absolute;
    top: -30px;
    left: -85px;
    background-size: contain;
    background-repeat: no-repeat
}

.letter_form_wrap {
    position: relative;
}

// promotions_open

.promotions_open {
    .timer {
        color: #ffffff;
    }
}
.top_promotion{
    border-bottom: 1px solid  rgba(0, 0, 0, 0.1);
    margin-top: 70px;
    padding-bottom: 92px;
}
.top_block{
    background-size: cover;
    background-repeat: no-repeat;
    .row{
        flex-direction: column;
    }
}
.top_title{
    font-size: $font-size-h2;
    line-height: 43px;
    color: #FFFFFF;
    font-weight: 900;
}


@media(max-width:1199.8px) {
    .letter_form {
        padding: 78px 80px 41px 0;
        width: 450px;
    }

    .img_letter_wraper {
        left: -199px;
        bottom: -295px;
        width: 790px;
    }

    .letter_form_wrap:before {
        width: 144px;
        height: 60px;
        top: -20px;
    }
}

@media(max-width:991.9px) {
    .letter_form {
        padding: 58px 60px 31px 0;
        width: 340px;
    }

    .img_letter_wraper {
        left: -123px;
        bottom: -155px;
        width: 590px;
    }

    .letter_form_wrap:before {
        width: 150px;
        height: 64px;
        top: -32px;
        left: -25px;
    }

    .letter_form_block {
        margin-top: 140px;
    }
    // promotions_open
    .top_title{
        font-size: $font-size-h3;
        line-height: 29px;
}
.top_promotion{
    padding-bottom: 0;
    border: none;
    margin-top: 50px;
}
.letter_form_block{
    margin-top: 105px;
}
}

@media(max-width:767.9px) {
    .letter_form_block {
        display: flex;
        flex-wrap: wrap;
        height: 461px;
        justify-content: center;
        align-items: flex-end;
        margin-top: 170px;

        .input-bark,
        .input-light {
            font-size: 14px;
            line-height: 17px;
        }

        .letter_form .btn-red {
            margin-top: 10px;
            margin-bottom: 15px;
        }
    }

    .letter_form_wrap:before {
        display: none;
        background-color: transparent;
    }

    .checkbox_section {
        align-items: flex-start;
    }

    .img_letter_wraper {
        left: 50%;
        top: -155px;
        width: 544px;
        @include transform(translate(-50%, 0));
    }

    .letter_form {
        padding: 20px 20px 20px 20px;
        width: 100%;
    }

    .promotions {
        overflow-x: hidden;
    }
    .top_title{
        font-size: $base-font-size;
        line-height: $base-line-height;
    }
    .text_promotion{
        margin-bottom: 22px;
    }
    .promotions_open .top_block{
        padding-bottom: 31px;
    }
    .top_promotion{
        margin-top: 22px;
    }
}

@media(max-width:575.9px) {
    .img_letter_wraper {
        left: -121px;
        top: -155px;
        @include transform(translate(0, 0));
    }
    .promotions_open{
        .bread-crumbs{
            padding-bottom: 30px;
        }
    }
    .top-baner__img{
        object-position: 50% 0;
    }
}