/*
================================================================================
|                                   ROLETTA PAGE                               |
================================================================================
*/

.roletta-header {
    position: relative;
    color: $text-color-white;
    padding-bottom: 145px;

    .container {
        position: relative;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 336px;
        background-color: $bg-dark;
        z-index: -1;
    }

    &__img {
        position: absolute;
        bottom: 192px;
        right: -45px;
        width: 48%;
    }

    &__title {
        margin-bottom: 17px;
    }

    p {
        width: 78%;
    }

    &__card {
        position: relative;
        display: flex;
        box-shadow: 0px 70px 100px rgba(0, 0, 0, 0.15);
        margin-top: 62px;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: $black-opacity;
        }

        >img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        >h4 {
            position: absolute;
            left: 31px;
            bottom: 18px;
            font-size: $font-size-h3;
            line-height: $line-height-h3;
        }
    }
}

.function-roletta {
    padding-bottom: 143px;

    &__item {
        display: flex;
        align-items: center;
        font-size: $font-size-h3;
        line-height: $line-height-h3;
        font-weight: 500;
        margin-bottom: 58px;

        >p {
            margin-left: 30px;
        }
    }

    .mb-87 {
        margin-bottom: 87px;
    }

    &__form {
        padding: 50px 75px 67px;

        >h3 {
            font-size: $font-size-h2;
            line-height: $line-height-h2;
            margin-bottom: 16px;
        }

        >p {
            width: 56.4%;
        }

        >form {
            display: flex;
            align-items: center;
            margin-top: 23px;

            .btn-red {
                margin-left: 30px;
                min-width: 350px;
            }
        }
    }
}

.circle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    min-width: 160px;
    height: 157px;
    @include radius(50%);
    border: 1px solid $light-gray;

    &_big {
        width: 255px;
        min-width: 255px;
        height: 251px;
    }
}

.roletta-assortement {
    padding: 119px 0 200px;

    &__title {
        margin-bottom: 64px;
    }

    &__card {
        padding: 34px 19px 16px;
        text-align: center;
        height: 100%;

        >h4 {
            font-size: $font-size-h3;
            line-height: $line-height-h3;
            margin-bottom: 16px;
            height: 61px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        >p {
            margin-bottom: 30px;
        }

        >img {
            position: relative;
            right: -19px;
            width: 100%;
        }

        >small {
            font-weight: 100;
            font-size: 14px;
            line-height: 17px;
            opacity: 0.5;
            display: block;
            width: 78%;
            margin: 20px auto 0;
        }
    }

    &__color {
        position: relative;
        background-color: $base-bg;
        margin-top: 55px;
        padding: 16px 32px 0 65px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1;

        .group-radio-input {
            display: flex;
            flex-wrap: wrap;

            >h3 {
                width: 100%;
                font-size: $font-size-h2;
                line-height: $line-height-h2;
                font-weight: 900;
                margin-bottom: 10px;
            }

            .label-radio-input {
                margin: 50px 65px 0 0;

                &:nth-of-type(6n) {
                    margin-right: 0;
                }
            }
        }
    }
}

.roletta-download-catalog {
    padding: 0;
    margin-bottom: 212px;
    background-color: $bg-dark;

    .download-catalog {
        &__wrap {
            p {
                color: $text-color-white;
            }
        }

        &__title {
            color: $text-color-white;
        }

        &__img {
            top: -190px;
            right: -150px;
            max-width: 900px;
        }
    }
}

.roletta-control {
    padding: 20px 0 151px;
    background: url(../image/roletta/image-bg.png) no-repeat top 740px right;
    background-size: 44%;
    overflow-x: hidden;

    &__header {
        position: relative;
        margin-bottom: 55px;

        .title-section {
            margin-bottom: 22px;
        }

        .image {
            position: absolute;
            right: -226px;
            top: -25px;
            z-index: 1;
        }

        p {
            max-width: 475px;
        }
    }

    &__subtitle {
        font-size: $font-size-h2;
        line-height: $line-height-h2;
        font-weight: 900;
        margin-bottom: 17px;

        >span {
            display: inline-block;
            margin-right: 20px;
            color: $light-gray;
        }
    }

    &__auto {
        padding: 56px 0 110px;
        border-top: 1px solid rgba(0, 0, 0, 0.1);

        p {
            max-width: 455px;

            >b {
                display: block;
                font-weight: 900;
                max-width: 254px;
                margin-bottom: 40px;
            }
        }
    }

    &__group-list {
        display: flex;
        margin: 61px 0;
    }

    &__list {
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
        margin-right: 30px;

        &:last-of-type {
            max-width: 33%;
        }

        >li {
            display: flex;
            align-items: center;
            margin-bottom: 42px;

            &:last-of-type {
                margin-bottom: 0;
            }

            .circle {
                width: 65px;
                min-width: 65px;
                height: 65px;
                margin-right: 30px;
                font-size: $font-size-h3;
                line-height: $line-height-h3;
                font-weight: 100;
                color: $light-gray;
            }

            p {
                >small {
                    display: block;
                    font-weight: 100;
                    font-size: 14px;
                    line-height: 17px;
                    margin-top: 9px;
                }
            }
        }
    }

    &__text-big {
        font-size: $font-size-h2;
        line-height: $line-height-h2;
        max-width: 63% !important;
        margin-bottom: 115px;

        >img {
            display: none;
        }
    }

    &__img-circle {
        text-align: center;

        .circle {
            width: 160px;
            height: 160px;
            margin-bottom: 30px;
        }
    }

    &__manual {
        padding-top: 158px;

        .roletta-control__subtitle {
            margin-bottom: 60px;
        }

        .circle {
            border: none;
            margin-bottom: 20px;
        }
    }
}

.roletta-calendar {
    padding: 109px 0 155px;
}

.roletta-slider {
    padding: 90px 0 137px;

    &__title {
        font-weight: 900;
        font-size: $font-size-h2;
        line-height: $line-height-h2;
        margin-bottom: 20px;
    }
}

.slider-brands {
    width: calc(100% + 30px);
    margin-left: -15px;

    &.slick-slider .slick-track {
        padding: 20px 0;
    }

    .slick-arrow {
        width: 20px;
        height: 10px;
        color: transparent;
        @include transition(width 0.3s ease);
        padding: 0;
        position: absolute;
        bottom: -42px;
        z-index: 10;
    }

    .slick-next {
        background: url(../image/icons/arrow-left-dark.svg) no-repeat center center;
        @include transform(rotate(180deg));
        margin-left: 16px;
        right: 16px;

        &:hover {
            width: 54px;
            @include transform(rotate(0));
            background: url(../image/icons/arrow-right-dark.svg) no-repeat center center;
        }
    }

    .slick-prev {
        background: url(../image/icons/arrow-left-dark.svg) no-repeat center center;
        margin-right: 16px;
        right: 80px;

        &:hover {
            width: 54px;
            @include transform(rotate(180deg));
            background: url(../image/icons/arrow-right-dark.svg) no-repeat center center;
            right: 50px;

        }
    }

    &__item {
        height: 200px;
        margin: 0 15px;
        display: flex !important;
        align-items: center;
        padding: 0 48px;
        background-color: $base-bg;
        border: 1px solid #CFCFCF;
    }
}

@media only screen and (max-width: 1600px) {
    .roletta-control {
        background-position: top 815px right -100px;
    }
}

@media only screen and (max-width: 1440px) {
    .roletta-header {
        &__img {
            position: absolute;
            bottom: 192px;
            right: -15px;
            width: 44%;
        }
    }

    .roletta-download-catalog {
        .download-catalog {
            &__img {
                top: -126px;
                right: -20px;
                max-width: 766px;
            }
        }
    }

    .roletta-control {
        background-position: top 860px right -100px;

        &__header {
            .image {
                right: -50px;
                top: 15px;
                width: 46%;
            }
        }
    }
}

@media only screen and (max-width: 1199.8px) {
    .roletta-header {
        padding: 10px 0 55px;

        .bread-crumbs {
            display: none;
        }

        &::before {
            bottom: 200px;
        }

        &__img {
            bottom: 145px;
            right: 0;
            max-width: 38%;
        }

        p {
            width: 66%;
        }

        &__card {
            margin-top: 42px;

            >h4 {
                font-size: $font-size-h3 - 4px;
                line-height: $line-height-h3 - 4px;
            }
        }
    }

    .function-roletta {
        padding-bottom: 121px;

        &__item {
            margin-bottom: 38px;
            font-size: $font-size-h3 - 4px;
            line-height: $line-height-h3 - 4px;
        }

        .mb-87 {
            margin-bottom: 55px;
        }

        &__form {
            margin-top: 109px;
            padding: 36px 60px 54px;

            >h3 {
                font-size: $font-size-h2 - 6px;
                line-height: $line-height-h2 - 6px;
            }

            >form {
                .btn-red {
                    min-width: 300px;
                }
            }
        }
    }

    .circle {
        width: 90px;
        min-width: 90px;
        height: 90px;

        >img {
            width: 46px;
        }

        &_big {
            width: 150px;
            min-width: 150px;
            height: 150px;

            >img {
                width: 65px;
            }
        }
    }

    .roletta-assortement {
        padding: 68px 0 95px;

        &__title {
            margin-bottom: 32px;
        }

        &__card {
            padding: 15px;

            >h4 {
                font-size: $font-size-h3 - 4px;
                line-height: $line-height-h3 - 4px;
                margin-bottom: 6px;
            }

            >p {
                margin-bottom: 20px;
            }

            >img {
                right: -15px;
            }

            >small {
                width: 90%;
            }
        }

        &__color {
            margin-top: 30px;
            padding: 12px 0 0 30px;
            overflow: hidden;

            >img {
                margin-right: -60px;
            }

            .group-radio-input {
                >h3 {
                    font-size: $font-size-h2 - 6px;
                    line-height: $line-height-h2 - 6px;
                }

                .label-radio-input {
                    margin: 50px 50px 0 0;
                }
            }
        }
    }

    .roletta-download-catalog {
        margin-bottom: 95px;

        .download-catalog {
            &__img {
                top: -90px;
                right: 20px;
                max-width: 570px;
            }
        }
    }

    .roletta-control {
        padding: 0 0 76px;
        background-size: 44%;

        &__header {
            margin-bottom: 35px;

            .title-section {
                margin-bottom: 12px;
            }

            .image {
                right: -80px;
                top: 70px;
                @include transform(rotate(-22deg));
            }

            p {
                max-width: 50%;
            }
        }

        &__subtitle {
            font-size: $font-size-h2 - 6px;
            line-height: $line-height-h2 - 6px;
            margin-bottom: 10px;

            >span {
                margin-right: 15px;
            }
        }

        &__auto {
            padding: 43px 0 68px;

            p {
                max-width: 500px;

                >b {
                    max-width: 240px;
                    margin-bottom: 20px;
                }
            }
        }

        &__group-list {
            align-items: flex-end;
            margin: 55px 0 136px;
        }

        &__list {
            >li {
                margin-bottom: 35px;
            }
        }

        &__text-big {
            font-size: $font-size-h2 - 6px;
            line-height: $line-height-h2 - 6px;
            max-width: 60% !important;
            margin-bottom: 70px;
        }

        &__img-circle {
            .circle {
                width: 110px;
                height: 110px;
                margin-bottom: 20px;
            }
        }

        &__manual {
            padding-top: 60px;

            .circle {
                >img {
                    width: 100%;
                }
            }

            .roletta-control__subtitle {
                margin-bottom: 48px;
            }
        }
    }

    .roletta-calendar {
        padding: 76px 0 120px;
    }

    .roletta-slider {
        padding: 76px 0 120px;

        &__title {
            font-size: $font-size-h2 - 6px;
            line-height: $line-height-h2 - 6px;
        }
    }

    .slider-brands {
        &__item {
            height: 180px;
            padding: 0 28px;
        }
    }
}

@media only screen and (max-width: 991.8px) {
    .roletta-header {
        &::before {
            bottom: 162px;
        }

        &__img {
            bottom: 107px;
            max-width: 40%;
        }

        &__card {
            >h4 {
                font-size: $base-font-size;
                line-height: $base-line-height;
            }
        }
    }

    .function-roletta {
        &__item {
            font-size: $base-font-size;
            line-height: $base-line-height;

            >p {
                margin-left: 12px;
            }
        }

        &__form {
            >h3 {
                font-size: $font-size-h3;
                line-height: $line-height-h3;
            }

            >p {
                width: 67%;
            }

            >form {
                .btn-red {
                    min-width: 270px;
                }
            }
        }
    }

    .circle {
        &_big {
            margin-right: 18px;
        }
    }

    .roletta-assortement {
        &__card {
            padding: 15px 10px;

            >h4 {
                font-size: $base-font-size;
                line-height: $base-line-height;
            }

            >p {
                height: 50px;
            }

            >img {
                right: -10px;
            }

            >small {
                width: 100%;
                font-size: 12px;
                line-height: 14px;
            }
        }

        &__color {
            >img {
                width: 56%;
            }

            .group-radio-input {
                >h3 {
                    font-size: $font-size-h3;
                    line-height: $line-height-h3;
                }

                .label-radio-input {
                    margin: 50px 30px 0 0;
                }
            }
        }
    }

    .roletta-download-catalog {
        .download-catalog {
            &__wrap {
                padding: 49px 0 79px;
            }

            &__img {
                top: -26px;
                right: -20px;
                max-width: 440px;
            }
        }
    }

    .roletta-control {
        background-size: 50%;
        background-position: top 770px right -146px;

        &__header {
            .image {
                right: -60px;
                top: 70px;
                width: 50%;
            }

            p {
                max-width: 52%;
            }
        }

        &__subtitle {
            font-size: $font-size-h3;
            line-height: $line-height-h3;
        }

        &__auto {
            p {
                max-width: 380px;

                >b {
                    max-width: 200px;
                }
            }
        }

        &__group-list {
            align-items: flex-end;
            margin: 55px 0 136px;
        }

        &__list {
            flex: 0 0 47%;
            max-width: 47%;

            &:last-of-type {
                max-width: 43%;
            }

            >li {
                margin-bottom: 35px;
            }
        }

        &__text-big {
            font-size: $font-size-h3;
            line-height: $line-height-h3;
            max-width: 63% !important;
        }

        &__img-circle {
            .circle {
                width: 90px;
                height: 90px;

                >img {
                    max-height: 60%;
                    width: auto;
                }
            }
        }

        &__manual {
            .circle {
                >img {
                    max-height: 100%;
                }
            }
        }
    }

    .roletta-slider {
        &__title {
            font-size: $font-size-h3;
            line-height: $line-height-h3;
        }
    }

    .slider-brands {
        &__item {
            height: 130px;
        }
    }
}

@media only screen and (max-width: 767.8px) {
    .roletta-header {
        padding: 10px 0 80px;

        &::before {
            bottom: 575px;
        }

        &__img {
            position: static;
            bottom: 0;
            max-width: 100%;
            width: 80%;
            margin: 40px auto 0;
            display: block;
        }

        &__card {
            margin: -20px 0 40px;

            >h4 {
                font-size: $base-font-size;
                line-height: $base-line-height;
            }
        }
    }

    .function-roletta {
        padding-bottom: 84px;

        .title-section {
            margin-bottom: 30px;
        }

        .mb-87 {
            margin-bottom: 45px;
        }

        &__item {
            font-size: $base-font-size - 2px;
            line-height: $base-line-height - 2px;
            flex-direction: column;
            margin-bottom: 35px;
            text-align: center;

            >p {
                margin-left: 0;
                margin-top: 12px;
            }
        }

        &__form {
            margin-top: 38px;

            >p {
                width: 100%;
            }

            >form {
                flex-direction: column;
                margin-top: 30px;

                .btn-red {
                    width: 100%;
                    margin: 20px 0 0;
                }
            }
        }
    }

    .circle {
        &_big {
            margin-right: 0;
        }
    }

    .roletta-assortement {
        &__card {
            padding: 15px 30px;
            margin: 0 auto 20px;
            height: auto;
            width: 80%;

            >h4 {
                height: auto;
            }

            >p {
                height: auto;
            }

            >img {
                right: -30px;
            }

            >small {
                width: 100%;
                font-size: 12px;
                line-height: 14px;
            }
        }

        &__color {
            flex-direction: column;
            padding: 20px 40px 0 40px;

            >img {
                width: 80%;
                margin: 20px auto 0;
            }

            .group-radio-input {
                width: 80%;

                .label-radio-input {
                    margin: 50px 30px 0 0;
                }
            }
        }
    }

    .roletta-download-catalog {
        .download-catalog {
            &__wrap {
                padding: 26px 0 0;
            }

            &__img {
                position: relative;
                top: 20px;
                right: 0;
                max-width: 100%;
                margin-bottom: -140px;
            }
        }
    }

    .roletta-control {
        padding: 0;
        background-size: 550px;
        background-position: top 870px right;

        &__header {
            .image {
                display: none;
            }

            p {
                max-width: 100%;
            }
        }

        &__auto {
            padding: 37px 0 15px;

            p {
                max-width: 100%;
            }
        }

        &__group-list {
            display: block;
            margin: 20px 0 36px;
        }

        &__list {
            flex: 0 0 100%;
            max-width: 100%;
            margin-bottom: 28px;
            margin-right: 0;

            &:last-of-type {
                max-width: 100%;
            }

            >li {
                margin-bottom: 28px;
            }
        }

        &__text-big {
            max-width: 100% !important;
            margin-bottom: 240px;
        }

        &__img-circle {
            margin-bottom: 50px;
        }

        &__manual {
            padding: 47px 0 0;
        }
    }

    .roletta-calendar {
        padding: 48px 0 69px;
    }
}

@media only screen and (max-width: 575.8px) {
    .roletta-header {
        &::before {
            bottom: 850px;
        }

        &__img {
            width: 100%;
        }

        &__card {
            margin: -20px 0 40px;
            height: 180px;

            >h4 {
                bottom: auto;
                top: 17px;
                left: 26px;
                right: 26px;
            }
        }
    }

    .function-roletta {
        &__item {
            font-size: $base-font-size - 4px;
            line-height: $base-line-height - 5px;
        }

        &__form {
            padding: 26px 20px 35px;
        }
    }

    .roletta-assortement {
        padding: 73px 0 39px;

        &__card {
            padding: 38px 14px;
            width: 100%;

            >img {
                right: -14px;
            }
        }

        &__color {
            padding: 20px 20px 0 20px;

            >img {
                width: 100%;
            }

            .group-radio-input {
                width: 210px;

                >h3 {
                    margin-left: -20px;
                    font-size: $base-font-size;
                    line-height: $base-line-height;
                }

                .label-radio-input {
                    margin: 50px 30px 0 0;

                    &:nth-of-type(6n) {
                        margin-right: 30px;
                    }

                    &:nth-of-type(4n) {
                        margin-right: 0;
                    }
                }
            }
        }
    }

    .roletta-download-catalog {
        margin-bottom: 140px;

        .download-catalog {
            &__img {
                max-width: calc(100% + 30px);
                margin: 0 -15px -120px -15px;
                left: 0;
            }
        }
    }

    .roletta-control {
        background: $base-bg;

        &__auto {
            p {
                >b {
                    max-width: 180px;
                }
            }
        }

        &__subtitle {
            font-size: $base-font-size;
            line-height: $base-line-height;
        }

        &__list {
            >li {
                .circle {
                    width: 60px;
                    min-width: 60px;
                    height: 60px;
                    margin-right: 20px;
                }

                p {
                    >small {
                        font-size: 12px;
                        line-height: 14px;
                        margin-top: 6px;
                    }
                }
            }
        }

        &__text-big {
            position: relative;
            font-size: $base-font-size;
            line-height: $base-line-height;
            margin-bottom: 180px;

            >img {
                display: block;
                position: absolute;
                right: -15px;
                max-width: 350px;
                width: 100%;
            }
        }
    }

    .roletta-slider {
        padding: 50px 0 60px;

        &__title {
            font-size: $base-font-size;
            line-height: $base-line-height;
        }
    }

    .slider-brands {
        &__item {
            height: 100px;
        }

        .slick-arrow {
            bottom: -26px;
        }

        .slick-next {
            left: 50%;
            right: auto;
        }

        .slick-prev {
            right: 50%;

            &:hover {
                right: 50%;
            }
        }
    }
}

@media only screen and (max-width: 425px) {
    .roletta-header {
        &::before {
            bottom: 600px;
        }

        &__card {
            height: 110px;
        }
    }
}

@media only screen and (min-width: 2000px) {
    .roletta-control {
        background-size: 890px;
    }
}

@media only screen and (min-width: 3000px) {
    .roletta-control {
        background-size: 1050px;
    }
}